POSTGRES_USER=auction
POSTGRES_PASSWORD=auction
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=auction

BID_EXTENSION_SECONDS=120
BID_EXTENSION_THRESHOLD_SECONDS=300
SCHEDULER_POLL_SECONDS=5

CORS_ORIGINS=["*"]